{% extends 'Postit/padre.html'%}

{% load static%}

{% block aboutHead%}About me{% endblock%}

{% block aboutMe%} 

    <h2>¡Hola! Soy Delfina</h2>

    <p>Estoy estudiando Lic. en Comunicación Digital en la UCA, tengo 19 años y hace 15 que entreno en diferentes estilos de danza.</p>

    <p>Me metí a este curso sin saber nada de programación y me gustó mucho. 
        Algunas cosas se me hicieron más dificiles que otras pero se que quiero aprender más sobre este mundo.</p>

   
    
  

{% endblock%}




