{% extends 'Postit/padre.html'%}
{%load static%}

{% block profileYour%}Your profile in{%endblock%}
{% block profilePostit%}Post it{%endblock%}





{% block editlink %} 

    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="/Postit/editProfile">edit profile info →</a></div> 

    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="/Postit/uploadAvatar">upload avatar →</a></div> 
    
    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="/Postit/booksForm">rew read →</a></div> 

    
{% endblock%}





